GATEWAY_ADDR=:8080
GATEWAY_USER_GRPC_ADDR=127.0.0.1:19001
GATEWAY_PRODUCT_GRPC_ADDR=127.0.0.1:19002
GATEWAY_ORDER_GRPC_ADDR=127.0.0.1:19003
GATEWAY_PAYMENT_GRPC_ADDR=127.0.0.1:19004
GATEWAY_MYSQL_DSN=root:root@tcp(127.0.0.1:3311)/gateway?charset=utf8mb4&parseTime=True&loc=Local
GATEWAY_REDIS_ADDR=127.0.0.1:6379
GATEWAY_REDIS_DB=0
GATEWAY_NATS_URL=nats://127.0.0.1:4222
GATEWAY_NATS_STREAM=SECKILL
GATEWAY_SECKILL_SUBJECT=seckill.order
GATEWAY_JWT_SECRET=gobao-dev-secret-change-in-prod
GATEWAY_LOG_LEVEL=info
